doctype html
html(lang="en")
  
  include ./jadeIncludes/scripts.jade
    title Simple Three.js Sample 4
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    div(id='messageShade')
        div(class='alert-box warning round')
            a(href='#' class="close") &times;
      
        
       
        
        
      